<header class="header">
  <div class="header__icon">
    <svg
      width="28"
      height="10"
      viewBox="0 0 28 10"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g id="menu, more, detail, list, interface">
        <path
          id="Path"
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M2.29167 3H25.2083C26.474 3 27.5 2.32843 27.5 1.5C27.5 0.671573 26.474 0 25.2083 0H2.29167C1.02601 0 0 0.671573 0 1.5C0 2.32843 1.02601 3 2.29167 3Z"
          fill="#19304D"
        />
        <path
          id="Path_2"
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M21.8472 7H1.98611C0.889212 7 0 7.67157 0 8.5C0 9.32843 0.889212 10 1.98611 10H21.8472C22.9441 10 23.8333 9.32843 23.8333 8.5C23.8333 7.67157 22.9441 7 21.8472 7Z"
          fill="#19304D"
        />
      </g>
    </svg>
  </div>
  <div class="header__nav">
    <div class="header__card">
      <div class="header__card-text">
        <p class="header__card-text--main">Notifications Center</p>
        <p class="header__card-text--sub">
          You have <span class="u-bold">2</span> unread notifications
        </p>
      </div>
      <div class="header__card-icon-box orange">
        <span> 2 </span>
      </div>
    </div>
    <div class="header__card">
      <div class="header__card-text">
        <p class="header__card-text--main">Sadiq Aderinto</p>
        <p class="header__card-text--sub">Vanity By Juls</p>
      </div>
      <div class="header__card-icon-box blue">
        <span>
          <svg
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M10.8333 2.5H9.16667V10.8333H10.8333V2.5ZM14.8583 4.30833L13.675 5.49167C14.9917 6.55 15.8333 8.175 15.8333 10C15.8333 13.225 13.225 15.8333 10 15.8333C6.775 15.8333 4.16667 13.225 4.16667 10C4.16667 8.175 5.00833 6.55 6.31667 5.48333L5.14167 4.30833C3.525 5.68333 2.5 7.71667 2.5 10C2.5 14.1417 5.85833 17.5 10 17.5C14.1417 17.5 17.5 14.1417 17.5 10C17.5 7.71667 16.475 5.68333 14.8583 4.30833Z"
              fill="white"
            />
          </svg>
        </span>
        <span>Log out</span>
      </div>
    </div>
  </div>
</header>
